# Build
dist

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test
.vscode
