.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: $s-50;
  padding-bottom: 20%;
  color: $pink;

  @media (max-width: 480px) { // todo: temp
    background-color: yellow;
    padding-bottom: 50%;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    height: 100px;
  }

  .slogan {
    margin-top: 30px;
    color: $violet;
    font-size: 42px;
  }
}